@using AptFinder.Models
@{
    Layout = "~/Views/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<h3>Edit @ViewBag.Location.Name</h3>

<!-- Modal Triggers -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addAptModal">Add Apartment</button>
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTenModal">Add Tenant</button>
<br />

<!-- Add Apartment Modal -->
<div id="addAptModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Apartment to @ViewBag.Location.Name</h4>
            </div>
            <div class="modal-body">
                <form id="addAptForm" name="addAptForm">
                    <div class="form-group">
                        <label for="aptNum">The Apartment Number</label>
                        <input class="form-control" type="text" id="aptNum" name="aptNum" />
                    </div>
                    <div class="form-group">
                        <label for="bedNum">Number of Bedrooms</label>
                        <input class="form-control" type="number" max="10" min="0" id="bedNum" name="bedNum" />
                    </div>
                    <div class="form-group">
                        <label for="bathNum">Number of Baths</label>
                        <input class="form-control" type="number" max="10" min="0" id="bathNum" name="bathNum" />
                    </div>
                    <div class="form-group">
                        <label for="pets">Are pets allowed? :</label>
                        <input class="form-control" type="checkbox" id="pets" name="pets" />
                    </div>
                    <div class="form-group">
                        <label for="available">Is it Available for Leasing? :</label>
                        <input class="form-control" type="checkbox" id="available" name="available" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="submitNewApt" type="button" class="btn btn-default" data-dismiss="modal">Submit New Apartment</button>
            </div>
        </div>

    </div>
</div>

<!--Tenant Modal-->
<div id="addTenModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Tenant to @ViewBag.Location.Name </h4>
            </div>
            <div class="modal-body">
                <form id="addTenantForm" name="addTenantForm">
                    <div class="form-group">
                        <label for="tenantApt"></label>
                        <select class="form-control" id="tenantApt" name="tenantApt">
                            @foreach (var apt in ViewBag.Apartments)
                            {
                                <option>@apt.ApartmentNum - @apt.Beds Beds - @apt.Baths Baths</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tenantName">Name :</label>
                        <input class="form-control" type="text" id="tenantName" name="tenantName" />
                    </div>
                    <div class="form-group">
                        <label for="tenantPhone">Phone :</label>
                        <input class="form-control" type="text" id="tenantName" name="tenantName" />
                    </div>
                    <div class="form-group">
                        <label for="tenantEmail">Email :</label>
                        <input class="form-control" type="email" id="tenantEmail" name="tenantEmail" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNewTenant" class="btn btn-default" data-dismiss="modal">Submit New Tenant</button>
            </div>
        </div>

    </div>
</div>

<div id="removeAptModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Apartment from @ViewBag.Location.Name</h4>
            </div>
            <div class="modal-body">
                <form id="removeAptForm" name="removeAptForm">
                    <div class="form-group">
                        <label for="removeApt">Apartment to Remove</label>
                        <select class="form-control" id="removeApt" name="removeApt">
                            @foreach (var apt in ViewBag.Apartments)
                            {
                                <option>@apt.ApartmentNum - @apt.Beds Beds - @apt.Baths Baths</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitAptRemove"class="btn btn-default" data-dismiss="modal">Remove Apartment</button>
            </div>
        </div>

    </div>
</div>

<!--Tenant Modal-->
<div id="removeTenModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Tenant</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="removeTenant">Apartment to Remove</label>
                    <select class="form-control" id="removeTenant" name="removeTenant">
                        @foreach (KeyValuePair<int, List<Tenant>> pair in ViewBag.Tenants)
                        {
                            foreach (var tenant in pair.Value)
                            {
                                <option>@tenant.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<h3>Apartments</h3>
<table class="table">
    <thead>
        <tr><td>Apartment Number</td><td># of Beds</td><td># of Baths</td><td>Tenants</td></tr>
    </thead>
    <tbody id="">
        @foreach (var apt in ViewBag.Apartments)
        {
            <tr><td>@apt.ApartmentNum</td><td>@apt.Beds</td><td>@apt.Baths</td>
                <td>
                    @foreach (KeyValuePair<int,List<Tenant>> pair in ViewBag.Tenants)
                    {
                        foreach (var tenant in pair.Value)
                        {
                            if (apt.ApartmentID == tenant.ApartmentID)
                            {
                                <a href='@Url.Action("EditTenant", "Tenant")'> @tenant.Name </a>
                            }
                        }                    
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $('#submitNewApt').click(function(){       
        var obj = {
            aptnum  : $("#aptnum").Val(),
            bednum  : $("#bedNum").Val(),
            bathnum: $("#bathNum").Val(),
            pets: $("#pets").Val(),


        }

        $.ajax({
            type:'Post',
            url : '/Apartment/AddApartment',
            data : JSON.stringify(obj),
            dataType : "json",
            success : function (data){
                console.log("Hardcore you added an apartment dude")           
            }
        });
    })

</script>