@using AptFinder.Models
@using System.Linq
@using System.IO;
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h3>Edit @ViewBag.Location.Name</h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/slick/slick.css">
<link rel="stylesheet" href="~/Assets/slick/slick-theme.css">
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

<!-- Modal Triggers -->
<div class="row">
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#addAptModal">Add Apartment</button>
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#addTenModal">Add Tenant</button>
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#removeAptModal">Remove Apartment</button>
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#removeTenModal">Remove Tenant</button>
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#importImageModal">Import Image</button>
</div>
<br />
<style>
    img{
        width:inherit;
    }

    .slickContainer {
        width:400px;
        margin : 0 auto;
    }
</style>
    
    <div class="slickContainer">
        @foreach (var img in ViewBag.Images)
        {
            <img src='@Path.Combine("/Assets/photos/",img.LocationID.ToString(),img.ImagePath)' />
        }
    </div>


<div class="row" id="partialViewContainer">
    @Html.Partial("AptTable")
</div>

<div id="importImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Photo to @ViewBag.Location.Name</h4>
            </div>
            <div class="modal-body">
                <form id="photoForm" action='@Url.Action("UploadImage", "Location", new { id = ViewBag.Location.LocationID } )' method="POST" enctype="multipart/form-data">
                    <label for="photo">Photo:</label>
                    <input type="file" name="photo" id="photo" />
                    <input id="addImage" value="SubmitPhoto " type="submit" form="photoForm" class="btn btn-default"/>
                </form>
            </div>
            <div class="modal-footer">
              
            </div>
        </div>
    </div>
</div>

<div id="addAptModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Apartment to @ViewBag.Location.Name</h4>
            </div>
            <div class="modal-body">
                <form id="addAptForm" name="addAptForm">
                    <div class="form-group">
                        <label for="aptNum">The Apartment Number</label>
                        <input class="form-control" type="text" id="aptNum" name="aptNum" />
                    </div>
                    <div class="form-group">
                        <label for="rent">Rent</label>
                        $<input class="form-control" type="number" id="rent" name="rent" />
                    </div>
                    <div class="form-group">
                        <label for="bedNum">Number of Bedrooms</label>
                        <input class="form-control" type="number" max="10" min="0" id="bedNum" name="bedNum" />
                    </div>
                    <div class="form-group">
                        <label for="bathNum">Number of Baths</label>
                        <input class="form-control" type="number" max="10" min="0" id="bathNum" name="bathNum" />
                    </div>
                    <div class="form-group">
                        <label for="pets">Are pets allowed? :</label>
                        <input class="form-control" type="checkbox" id="pets" name="pets" />
                    </div>
                    <div class="form-group">
                        <label for="available">Is it Available for Leasing? :</label>
                        <input class="form-control" type="checkbox" id="available" name="available" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="submitNewApt" type="button" class="btn btn-default" data-dismiss="modal">Submit New Apartment</button>
            </div>
        </div>

    </div>
</div>

<!--Tenant Modal-->
<div id="addTenModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Tenant to @ViewBag.Location.Name </h4>
            </div>
            <div class="modal-body">
                <form id="addTenantForm" name="addTenantForm">
                    <div class="form-group">
                        <label for="tenantApt"></label>
                        <select class="form-control" id="tenantApt" name="tenantApt">
                            @foreach (var apt in ViewBag.Apartments)
                            {
                                <option value="@apt.ApartmentID">@apt.ApartmentNum - @apt.Beds Beds - @apt.Baths Baths</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tenantName">Name :</label>
                        <input class="form-control" type="text" id="tenantName" name="tenantName" />
                    </div>
                    <div class="form-group">
                        <label for="tenantPhone">Phone :</label>
                        <input class="form-control" type="text" id="tenantName" name="tenantName" />
                    </div>
                    <div class="form-group">
                        <label for="tenantEmail">Email :</label>
                        <input class="form-control" type="email" id="tenantEmail" name="tenantEmail" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitNewTenant" class="btn btn-default" data-dismiss="modal">Submit New Tenant</button>
            </div>
        </div>

    </div>
</div>

<div id="removeAptModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Apartment from @ViewBag.Location.Name</h4>
            </div>
            <div class="modal-body">
                <form id="removeAptForm" name="removeAptForm">
                    <div class="form-group">
                        <label for="removeApt">Apartment to Remove</label>
                        <select class="form-control" id="removeApt" name="removeApt">
                            @foreach (var apt in ViewBag.Apartments)
                            {
                                <option value="@apt.ApartmentID">@apt.ApartmentNum - @apt.Beds Beds - @apt.Baths Baths</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitAptRemove" class="btn btn-default" data-dismiss="modal">Remove Apartment</button>
            </div>
        </div>

    </div>
</div>

<!--Tenant Modal-->
<div id="removeTenModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Tenant</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="removeTenant">Tenant to Remove</label>
                    <select class="form-control" id="removeTenant" name="removeTenant">
                        @foreach (KeyValuePair<int, List<Tenant>> pair in ViewBag.Tenants)
                        {
                            foreach (var tenant in pair.Value)
                            {
                                <option value="@tenant.TenantID"> @tenant.Name </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitTenantRemove" name="submitTenantRemove" class="btn btn-default" data-dismiss="modal">Remove Tenant</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".slickContainer").slick({
            dots: true,
            arrows : true,
        })
    })
</script>
<!-- Add Apartment Modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    $('#submitNewApt').click(function(){
        var addApartment = {
            aptnum : $("#aptNum").val(),
            bednum  : $("#bedNum").val(),
            bathnum : $("#bathNum").val(),
            pets : ($("#pets").val() == 'on' ? "true" : "false"),
            available: ($("#available").val() == 'on' ? "true" : "false"),
            rent: $("#rent").val(),
            location : '@ViewBag.Location.LocationID'
        }

        $.ajax({
            type: 'POST',
            url : '@Url.Action("AddApartment","Apartment")',
            data : JSON.stringify(addApartment),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success : function (data){
                console.log("Hardcore you added an apartment dude")
            }
        });

        $("#partialViewContainer").load('@Url.Action("RefreshApartmentTable","Location", new { id = ViewBag.Location.LocationID })')
    })
    $('#submitNewTenant').click(function () {
        var addTenant = {
            tenantApt  : $("#tenantApt").val(),
            tenantName : $("#tenantName").val(),
            tenantPhone: $("#tenantPhone").val(),
            tenantEmail: $("#tenantEmail").val(),
            location : '@ViewBag.Location.LocationID'
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddTenant","Tenant")',
            data: JSON.stringify(addTenant),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log("Hardcore you added a tenant")
            }
        });
        $("#partialViewContainer").load('@Url.Action("RefreshApartmentTable","Location", new { id = ViewBag.Location.LocationID })')

    })
    $('#submitAptRemove').click(function () {
        var removeApartment = {
            aptID : $("#removeApt").val(),
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveApartment","Apartment")',
            data: JSON.stringify(removeApartment),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log("Hardcore you removed an apartment dude")
            }
        });

        $("#partialViewContainer").load('@Url.Action("RefreshApartmentTable","Location", new { id = ViewBag.Location.LocationID })')
    })
    $('#submitTenantRemove').click(function () {
        var removeTenant = {
            tenantID : $("#removeTenant").val()
        }

        $.ajax({
            type: 'Post',
            url: '@Url.Action("RemoveTenant", "Tenant")',
            data: JSON.stringify(removeTenant),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log("Hardcore you added an apartment dude")
            }
        });

        $("#partialViewContainer").load('@Url.Action("RefreshApartmentTable","Location", new { id = ViewBag.Location.LocationID })')
    })

</script>