@using AptFinder.Models
@using AptFinder.ViewModels
@using System.Linq
@model LocationSearchVM

@{ 
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    .AptItem {
        margin: 5px;
        padding:10px;
        background-color: rgba(255,255,255,.5);
        border-radius : 10px;
    }
    img {max-height:100px}
</style>
<div class="row">
        @if (Model.locations != null)
        {
            foreach (var loc in Model.locations)
            {                
                <div id="@loc.LocationID" class="row AptItem"> 
                    <div class="col-md-6">
                        @if (Model.images!=null)
                        {
                            <img src="~/Assets/photos/@loc.LocationID/@Model.images.Where(i => i.LocationID == loc.LocationID).First().ImagePath" />
                        }
                        else
                        {
                            <h4>No Photo Available</h4>
                        }
                    </div>  
                    <div class="col-md-6">
                        <h4>@loc.Name</h4>
                        <h5>@loc.Street</h5>
                        <h5>@loc.City, @loc.State, @loc.Zip</h5>
                    </div>
                </div>
            }
        }
        else
        {
            <div>There are no locations available in this area</div>
        }
</div>
<script>
    @foreach (var loc in Model.locations)
    {
        @:$("#@loc.LocationID").click(function(){        
        @:  window.location.href = '/Apartment/ApartmentPage/' + @loc.LocationID
        @:})
    }
    
</script>