@using AptFinder.ViewModels
@model ApartmentPageVM

@{
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    #map {border-radius : 10px}
</style>
<div class="row">
    <div class="col-md-8 col-lg-8">
        <h3>@Model.location.Name</h3>
        <p>@Model.location.Street, @Model.location.City, @Model.location.State, @Model.location.Zip</p>
    </div>
    <div class="col-md-4 col-lg-4">
        <h1>$@(Model.maxRent == Model.minRent ? Model.minRent.ToString() : Model.minRent + "-" + Model.maxRent)</h1>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="slickContainer">
            @if (Model.images.Count() <= 0){
               <h4 style="text-align:center">There are no images for this apartment.</h4>
            }
            else {
                foreach (var img in Model.images)
                {
                    <img src='@Path.Combine("/Assets/photos/",img.LocationID.ToString(),img.ImagePath)' />
                }
            }
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div id="map" style="height: 350px;">

        </div>
    </div>
    
</div>
<hr />
<div class="row">
    <h3>Available Units</h3>
    <table class="table">
        <tr><td>Beds</td><td>Baths</td><td>Pets Alowed</td><td>Rent</td><td></td></tr>
        @foreach (var apt in Model.apartments)
        {
            <tr><td>@apt.Beds</td><td>@apt.Baths</td><td>@(apt.IsPetFriendly ? "Yes" : "No")</td>
                <td>$@apt.Rent</td><td><a href='@Url.Action("RequestApartment","Apartment")' class="btn btn-default btn-sm">Request this Apartment</a></td></tr>
        }
    </table>           
</div>
<br />
<br />
<br />
<hr />
<div class="row">
    <h3>About this location:</h3>
    @(Model.location.Description != null ? Model.location.Description : "This Location has no Description")
    <br />
    <br />
    <br />
</div>
<script type="text/javascript">

var map;
function initMap() {

    var myLatLng = {lat: @Model.location.Latitude, lng: @Model.location.Longitude}
    map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 8
    });
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: '@Model.location.Name'
    });
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-9q6heUHwYsxyvoA7VxzUa_aNsKzCDA&callback=initMap">
</script>
<script>
    $(document).ready(function () {
        $(".slickContainer").slick({
            dots: true,
            arrows : true,
        })
    })
</script>