@using AptFinder.ViewModels
@model TenantProfileVM
@{
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    #map{border-radius:10px}
</style>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <h2>@Model.tenant.Name's Profile</h2>
        <h3>@Model.location.Name</h3>
        <br />
        <p>Apartment @Model.apartment.ApartmentNum</p>
        <p>@Model.location.Street, @Model.location.City, @Model.location.State, @Model.location.Zip</p>
        <br />
        <p>Phone : @Model.tenant.Phone</p>
        <p>Email : @Model.tenant.Email</p>
        <br />
        <p>Housemates:</p>
        <ul>
            @foreach (var mate in Model.housemates)
            {
                if (Model.tenant.Name != mate.Name)
                {
                    <li><a href='@Url.Action("TenantProfile","Tenant", new { id = mate.TenantID })'>@mate.Name</a></li>
                }
            }
        </ul>
    </div>
    <div id="map" style="height:45VH" class="col-md-6 col-lg-6">        
    </div>

</div>
<script>
    function initMap() {
        var myLatLng = { lat: @Model.location.Latitude , lng: @Model.location.Longitude };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            scrollwheel: false,
            zoom: 9
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
            map: map,
            position: myLatLng,
            title: '@Model.location.Name'
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-9q6heUHwYsxyvoA7VxzUa_aNsKzCDA&callback=initMap">
</script>